---
import '../styles/global.css';

interface Props {
  title: string;
  description?: string;
}

const { 
  title, 
  description = 'Inscríbete en el Instituto Osbord de forma segura. Elige tu plan de pago y comienza tu formación profesional hoy.' 
} = Astro.props;
---


<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content={description} />
  <meta name="robots" content="index, follow" />

  <!-- Open Graph -->
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="es_ES" />

  <!-- Favicon -->
  <link rel="icon" type="image/webp" href="/logo.webp" />

  <!-- Preconnect Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />


  <title>{title}</title>
</head>
<body>
  <slot />
</body>
</html>
